.order-footer{
  display: flex;
  align-items: center;
  height: 165px;
  padding-left: 24px;
}
.order-footer__wrapper{
  display: initial;
}
.order-footer__wrapper-logo{
  display: flex;
  align-items: center;
}
.order-footer__wrapper-logo p{
  font-size: 11px;
  font-weight: 500;
  color: #001E62;
  margin-left: 26px;
}
.order-footer__wrapper-networks{
  display: flex;
  align-items: center;
  margin-top: 24px;
  /* margin-bottom: 26px; */
}
.order-footer__wrapper-networks a{
  display: flex;
  margin-right: 20px;
  align-items: center;
  text-align: center;
  width: 32px;
  height: 32px;
}
@media (min-width: 1025px) {
  .order-footer{
    padding: 0px 120px;
    height: 128px;
  }
  .order-footer__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-footer__wrapper-logo{
    margin-bottom: initial;
  }
  .order-footer__wrapper-networks{
    margin-bottom: initial;
    margin-top: initial;
  }

}
