.order-placed-header{
  width: 272px;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
  justify-content: space-around;
}
.order-placed-header__image{
  margin-top: 40px;
}
.order-placed-header__img{
  width: 209px;
}
.order-placed-header__confirmations{
  width: 336px;
}
.order-placed-header__confirmations-title p{
  font-family: 'bw-modelica';/*regular*/
  font-size: 20px;
  font-weight: 600;
  color: #242424;
  line-height: 32px;
  margin-bottom: 16px;
}
.order-placed-header__confirmations-text p{
  font-family: 'bw-modelica';
  font-size: 14px;
  font-weight: 500;
  color: #242424;
  line-height: 22px;
  margin-bottom: 16px;
}
.order-placed-header__confirmations-text a{
  color:#102E78
}
.order-placed-header__confirmations-button{
  margin-bottom: 16px;
}
.order-placed-header__confirmations-link{
  display: block;
  width: 213px;
  height: 40px;
  color: #ffffff;
  background-color: #001E62;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: 'bw-modelica';
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .order-placed-header{
    display: flex;
  }
}

@media (min-width: 1025px) {
  .order-placed-header{
    width: 792px !important;
    align-items: center;
    margin: 0;
    margin-top: 80px;
    border: none;
  }
  .order-placed-header__image{
    margin: 0;
  }
  .order-placed-header__img{
    width: 368px;
  }
  .order-placed-header__confirmations{
    width: 336px;
  }
  .order-placed-header__confirmations-title p{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
  .order-placed-header__confirmations-text p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .order-placed-header__confirmations-button{

  }
  .order-placed-header__confirmations-link{
    display: block;
    width: 281px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
}
