.order-header{
  height: 52px;
  background-color: #ffffff;
}
.order-header img{
  width: 57px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .order-header{
    height: auto;
  }
  .order-header img{
    width: 121px;
    height: 81px;
  }
}
