.products-section__title {
  font-family: 'Interstate Regular' !important;
  font-weight: 400;
  font-size  : 16px;
}

@media screen and (min-width:1025px) {
  .products-section__title {
    width      : initial;
    font-size  : 24px !important;
    font-weight: 400;
    line-height: 32px !important;
    text-align : left;
    color      : #242424;
  }
}
